.sidebar {
  min-width: 7.7rem;
  max-width: 7.7rem;
  background-color: #ffffff;
  display: flex;
  height: 100vh;
  min-height: 64rem;
  max-height: 120rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 0;
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.sidebar {

  &__logo {
    width: 4.1rem;
    height: 4.1rem;
    cursor: pointer;
  }


  &__selection {
    display: flex;
    flex-direction: column;
    height: 16rem;
    justify-content: space-between;
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    cursor: pointer;
  }

  &__cart {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background-color: var(--color-orange-1);
    color: white;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;


    &__icon {
      width: 2rem;
      height: 2rem;
      fill: white;
    }

    &__text {
      font-size: .8rem;
      height: 1.75rem;
      width: 1.75rem;
      border-radius: 50%;
      background-color: var(--color-red-1);
      position: absolute;
      top: 0;
      right: -.5rem;
    }
  }
}
