.details {
  min-width: 38.9rem;
  background-color: var(--color-background-2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: sticky;
  top: 0;
  overflow: hidden;


  &__actions {
    background-color: #fff;
    height: 10rem;
    display: flex;
    position: sticky;
    bottom: 0;
    width: 100%;
    align-self: flex-end;
    margin-bottom: -12px;

    & > * {
      margin: 2rem 0;
      border: 2px var(--color-orange-1) solid;
      border-radius: 12px;
    }

    input {
      margin-left: 2rem;
      flex-grow: 1;
      outline: none;
      border-right: none;
      padding-left: 1.6rem;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.7rem;
      color: #BDBDBD;
    }

    button {
      background-color: var(--color-orange-1);
      color: white;
      margin-right: 2rem;
      margin-left: -2rem;
      padding: 0 1.6rem;
      font-weight: bold;
      font-size: 1.6rem;
      line-height: 2rem;
      cursor: pointer;
    }
  }
}

.add {
  background: #80485B;
  border-radius: 24px;
  color: white;
  width: 90%;
  display: flex;
  height: 14rem;
  margin: 1.6rem auto;
  position: sticky;
  top: 0;
  align-self: flex-start;

  &__source {
    transform: rotate(-11deg) translateY(-2.2rem);
    flex: 0 0 35%;
    z-index: 200;
    overflow: auto;
  }

  &__container {
    padding-top: 1.6rem;
    margin-left: 1.6rem;

    p {
      font-size: 1.6rem;
      line-height: 2rem;
      width: 80%;
    }

    button {
      background-color: white;
      box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
      border-radius: 12px;
      margin-top: 1.6rem;
      width: 12rem;
      height: 4rem;
      outline: none;
      border: none;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.7rem;
      color: #34333A;
      cursor: pointer;
    }
  }
}

.list__header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  align-items: baseline;
  position: sticky;
  top: 14rem;
  align-self: flex-start;

  &__icon {
    width: 1.7rem;
    height: 1.7rem;
    cursor: pointer;
  }

  h3 {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 700;
    color: #34333A;
  }
}
