.list_hist {
  background-color: var(--color-background-1);
  flex-grow: 1;
  padding: 1.6rem 5rem;

  &__nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--color-orange-1);
    cursor: pointer;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 1rem;

    svg {
      width: 2rem;
      height: 1.6rem;
      margin-right: .5rem;
    }

  }

}
