.page {
  background-color: #f7f7f7;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-items: center;
}

.modal {
  background-color: #fff;
  width: 70rem;
  height: 40rem;
  display: flex;
  margin: auto;
  box-shadow: 2px 0px 14px 8px rgba(0,0,0,0.1);

  &__my_form {
    flex: 0 0 50%;
    color: #E0E3E5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.6rem;

    & input {
      height: 4.5rem;
      width: 80%;
      border-radius: 5px;
      padding-left: 1.6rem;
      border: 1px solid #E0E3E5;
      margin-bottom: 1.6rem;
      display: block;

      &:focus{
        outline: none;
      }
    }

    & button {
      height: 4rem;
      background-color: #4786FF;
      width: 9rem;
      color: white;
      float: right;
      border: none;
      border-radius: 12px;
      cursor: pointer;
    }
  }

  &__login_image {
    flex: 0 0 50%;
    object-fit: cover;
  }
}
