.content {
  font-size: 1.6rem;
  line-height: 2rem;
  margin-top: 3rem;
  overflow-y: auto;
  //height: 50rem;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(255, 0, 0, 0.1);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-grey-1);
    border-radius: 10px;
  }

  &__header {
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
  }

  &__items__box {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(18.5rem, 1fr) );
    grid-gap: 2rem 1rem;
  }

  &__item {
    background-color: #fff;
    width: 18.2rem;
    display: grid;
    grid-template-columns: 13.2rem 5rem;
    justify-content: space-between;
    padding: .5rem;
    min-height: 5rem;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
    border-radius: 12px;


    p {
      font-style: normal;
      font-weight: 500;
      font-size: 1.4rem;
      padding-left: .5rem;
      padding-top: .8rem;
      padding-bottom: .25rem;
      cursor: pointer;

      &:hover {
        background-color: var(--color-background-1);
        border-radius: 12px;
      }

    }
  }
}

.item__plus {
  width: 2rem;
  height: 2rem;
  fill: #C1C1C4;
  cursor: pointer;
  align-self: center;
  margin-left: 1rem;

  &:hover {
    fill: var(--color-orange-1)
  }

}
