.list__item {
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  justify-content: space-between;
  margin-bottom: 1rem;

  &__quantity {
    cursor: pointer;
    width: 68px;
    height: 32px;
    border: 2px solid var(--color-orange-1);
    box-sizing: border-box;
    border-radius: 24px;
    color: var(--color-orange-1);
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
  }

  p {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.2rem;
    white-space: nowrap;
    -webkit-order: 0;
    -webkit-flex: 0 1 70%; /*important*/
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 0;

  }
}

.strike {
  text-decoration: line-through;
}

.edit__item {
  margin-right: auto;

  &__text {
    -webkit-flex: none !important;
  }
}


.item__edit {
  display: flex;
  align-items: center;
}

.checkbox {
  --background: var(--color-background-2);
  --border: var(--color-orange-1);
  --border-hover: #BBC1E1;
  --border-active: var(--color-orange-1);
  --tick: var(--color-orange-1);
  position: relative;
  margin-right: 0.5rem;

  input,
  svg {
    width: 21px;
    height: 21px;
    display: block;
  }

  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    outline: none;
    background: var(--background);
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 4px;
    transition: box-shadow .3s;
    box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));

    &:hover {
      --s: 2px;
      --b: var(--border-hover);
    }

    &:checked {
      --b: var(--border-active);
    }
  }

  svg {
    pointer-events: none;
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--stroke, var(--border-active));
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 21px;
    transform: scale(var(--scale, 1)) translateZ(0);
  }

  &.path {
    input {
      &:checked {
        --s: 2px;
        transition-delay: .4s;

        & + svg {
          --a: 16.1 86.12;
          --o: 102.22;
        }
      }
    }

    svg {
      stroke-dasharray: var(--a, 86.12);
      stroke-dashoffset: var(--o, 86.12);
      transition: stroke-dasharray .6s, stroke-dashoffset .6s;
    }
  }
}


.item__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 12px;
  height: 4.49rem;
  min-width: 17.356rem;

  &:focus, &:active {
    outline: none;
  }


  &__delete {
    height: 100%;
    width: 3.7rem;
    background: #F9A109;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;


    input {
      width: 0;
      height: 0;
      background-color: #f9a109;
    }


    img {
      width: 2rem;
      height: 2rem;
      cursor: pointer;
    }
  }

  &__remove {
    height: 2rem;
    cursor: pointer;
    width: 4rem;
  }

  &__add {
    width: 4rem;
    cursor: pointer;
    height: 2rem;
    padding-right: 0.5rem;
  }

}
