.my__items {
  width: 100%;
  margin: 0 auto;

  &__list {
    width: 90%;
    margin: 0 auto;
    flex-grow: 1;
    overflow-y: scroll;
    height: 35rem;

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(255, 0, 0, 0.1);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-grey-1);
      border-radius: 10px;
    }

    &__header {
      margin-top: 2rem;
      margin-bottom: 0.5rem;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.7rem;
      color: #828282
    }
  }
}
.list__item {
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  justify-content: space-between;

  div {
    cursor: pointer;
    width: 68px;
    height: 32px;
    border: 2px solid var(--color-orange-1);
    box-sizing: border-box;
    border-radius: 24px;
    color: var(--color-orange-1);
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
  }

  p {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.2rem;
    white-space: nowrap;
    -webkit-order: 0;
    -webkit-flex: 0 1 70%; /*important*/
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 0;
  }
}

